pip install streamlit
pip install langchain
pip install langchain-google-genai
pip install google-generativeai
pip install python-dotenv
pip install docarray
pip install PyPDF2
pip install Pillow
langchain[docarray]
